#introBox {
  background-color: #f5f5f5;
}

#step1,
#step2,
#step3,
#step4,
#step5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
  overflow: hidden;
  color: #fff;

  span {
    font-size: 6vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    text-transform: uppercase;
  }
}

#step1 {
  background-color: #3590f3;

  span {
    margin-top: -300vh;
    font-size: 8vw;
    will-change: margin-top;
  }
}

#step2 {
  background-color: #62bfed;
}
#step3 {
  background-color: #8fb8ed;
}
#step4 {
  background-color: #c2bbf0;
}

#step5 {
  padding: 3vw 0 3vw;
  background-color: #f1e3f3;
  color: #000;

  @include bp(lg-d) {
    padding: 40px 0 50px;
  } 

  .rotate-v {
    transform: rotate(180deg);
    transform-origin: center center;
  }

  span {
    font-size:calc(30px + 1.5vw);
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
  }
  > span {
    > span > span {
      position: relative;
    }
    > span > span > span > span {
      color: #000 !important;
      position: relative;
      z-index: 1;
    }
  }
}
