body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Code Pro', monospace;
font-weight: 200;
  font-size: 20px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f8f2f9;


  &.intro {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;

  padding: 0 $side-padding;
}

.main-nav {
  position: fixed;
  top:2.1vw;
  right: 85px;
  padding: 8px 15px 6px;
  border-radius: 7px;
  text-align: right;
  background-color: #333;
  z-index: 30;

  @include bp(md-d) {
    display: none;
  }


  a {
    color: #fff;
    text-decoration: none;
  font-family: 'Josefin Slab', serif;
font-size: 24px;
font-weight: 400;
  }
}

#content {
  background-color: #fff;
  margin: 85px;
  position: relative;

  @include bp(md-d) {
    margin: 50px 0;
  }
  

  &::before {
    content: '';
    display: block;
    width: 120px;
    height: 15px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 10;
    transform: translateX(-50%) rotate(-45deg);
    transform-origin: center center;
    border-top:solid 2px #555;
    border-bottom:solid 2px #555;
    
    @include bp(md-d){
      display: none;
    }

  }

  .wrapper {
    padding: 50px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 25px;

    @include bp(md-d) {
      padding: 10px;
    }
   
  }


  h1,h2 {
    font-weight: 200;
  }
  .case {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: url(/assets/eye3.svg) 25 25, pointer;
    border-bottom: solid 1px #eee;
    
    &-intro {
      padding: 40px 10px 20px;
      font-size: 17px;
      h2 {
        font-size: 17px;
        font-weight: 400;
        margin: 0 0 25px;
      }

      p {
        margin: 0;
      }
    }

    img {
      width: 100%;
      opacity: 0;
      display: block;
    }
  }
}
    .content {
      width: 100%;
      > div {
        background-position: center center;
        background-size: cover;
      }
    }

.case-image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  border: solid 0px #fff;
  box-sizing: border-box;
  background-color: #fff;

  &.open {
    z-index: 10000;

    &::after {
      content: '';
      display: block;
      width: 120px;
      height: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 10;
      transform: translateX(50%) rotate(45deg);
      transform-origin: center center;
      border-top:solid 2px #555;
      border-bottom:solid 2px #555;
  
    }

    .case-image-nav {
      display: flex;
      position: absolute;
      bottom: 0;
      padding: 0;
      margin: 0;
      font-size: 20px;
      list-style: none;
      pointer-events: none;
      padding: 30px;
      background-color: #fff;
      cursor: auto;

      li {
        padding-right: 10px;
        pointer-events: all;
        cursor: pointer;
        position: relative;

&:hover {
  &::after {
    content:'';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: calc(100% - 10px);
    height: 1px;
    background-color: #555;
  }
}

        &.current {
          pointer-events: none;
          &::after {
            content:'';
            display: block;
            position: absolute;
            bottom: -7px;
            left: 0;
            width: calc(100% - 10px);
            height: 1px;
            background-color: #555;
          }
        }

        &::before {
          content: '/';
          margin-right: 3px;
        }
      }
    }
  }

  
}

.case-image-nav {
  display: none;
}

.contact {
  margin-top: 150px;
  padding-bottom: 200px;

  .about {
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;


    a {
      font-size: 18px;
      position: relative;
      color: #555;
      text-decoration: none;
      padding-right: 10px;

      &::before {
        content: '/';
        margin-right: 3px;
      }
      &:hover::after {
        content:'';
        display: block;
        position: absolute;
        bottom: -7px;
        left: 0;
        width: calc(100% - 10px);
        height: 1px;
        background-color: #555;
      }
    }
  }
}