{{ define "main" }}
<div id="introBox">
    <div id="step1">
        <span>Velkommen</span>
    </div>
    <div id="step2">
        <span>til</span>
    </div>
    <div id="step3">
        <span>mit</span>
    </div>
    <div id="step4">
        <span>portfolio</span>
    </div>
    <div id="step5">
        <span>
            <span>
                <span><span>K</span><span class="end">immie</span></span>
                <span><span class="rotate-v">V</span><span class="end">maliegaard</span></span>
                <span><span>V</span><span class="end">inston</span></span>
                <span><span>J</span><span class="end">ørgensen</span></span>
            </span>
        </span>
    </div>

</div>

<div class="wrapper main-nav">
    <a href="">Kimmie? / kontakt</a>
</div>

<div id="content">
    <div class="wrapper grid">
        {{ range .Params.cases }}
        
        <div class="case item">
                <div class="content">
                    <div>
                        <span class="case-image" data-img="{{.image}}?nf_resize=smartcrop&w=1920&h=1080"
                            style="background-image: url('{{.image}}?nf_resize=smartcrop&w=700&h=700')">
                            <img loading="eager" src="{{.image}}?nf_resize=smartcrop&w=700&h=700" alt="">
                            <ul class="case-image-nav">
                                <li class="current" data-img="{{.image}}?nf_resize=smartcrop&w=1920&h=1080">{{.image-name}}</li>

                                {{ range .images }}
                                <li data-img="{{.image}}?nf_resize=smartcrop&w=1920&h=1080">{{.image-name}}</li>
                                {{ end }}

                            </ul>
                        </span>
                    </div>
                    <div class="case-intro">
                        <h2>{{.title}}</h2>
                        {{ .text | markdownify }}
                    </div>
                </div>
            </div>
        {{ end }}

        
    </div>
</div>


<div class="contact">
    <div class="about">
        <h3>Kimmie Amaliegaard Vinston Jørgensen</h3>
        <p>
            Morbi nec metus. Curabitur blandit mollis lacus. Integer tincidunt. Etiam sollicitudin, ipsum eu
            pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Morbi mollis
            tellus ac sapien.
        </p>

        <nav>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Linkedin</a>
            <a href="">CV</a>
            <a href="">kimmieavj@hotmail.com</a>
        </nav>
    </div>
</div>


{{ end }}
